html, body {
  background-color: blanchedalmond;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  
}

.App{
  background-color:blanchedalmond
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app-header {
  padding-top: 50px
}

.plant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a:link {
  color: brown
}
.plant-pic{
  border: 5px ridge brown;
  height: 393px;
  width:324px
}

.plant-show-container-left{
 position: absolute;
 left: 50px;
}

.plant-show-container-right{
  position:absolute;
  right: 550px;
  top: 250px
}

.plant-show-pic{
  border: 5px ridge brown;
  height: 393px;
  width: 324 px;
}

#cart-box{
  border: 5px ridge brown;
  background-color: white;
  position:absolute;
  top:70px;
  right: 25px;
  overflow: scroll;
  height: auto;
  max-height: 30em;
  display: none;
  justify-content: center
}


#search-input{
  border: 2px ridge brown
}

.plant-price{
  font-size: 10;
  font-style: initial
}

.sort-menus{
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

a:hover {
 cursor: pointer;
 color: maroon
}

a, a:active, a:visited {
  color: brown;
}

#cart-btn{
  position:absolute;
  top:70px;
  right: 50px;
  background-color: blanchedalmond
}

#logout{
  position:absolute;
  top:70px;
  left: 50px;
  height: 50px;
  background-color: blanchedalmond;
}

#users-cart-plants{
  align-content: left;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 85%
}

#total-checkout{
  display: inline-block
}

#total{
  font-size: 85%
}

#checkout{
  position: relative;
  background-color:lightgray;
  border: ridge black;
  height: auto;
  width: max-content;
  color: black;
  font-size: 15px;
}