html, body {
  background-color: blanchedalmond;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  
}

.App{
  background-color:blanchedalmond
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app-header {
  padding-top: 50px
}

.plant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.plant-pic{
  border: 5px ridge brown;
  height: 393px;
  width:324px;
  transition: all .2s ease-in-out;
}

.plant-pic:hover{
  transform: scale(1.03)
}

.plant-show-container-left{
 height: 393px;
 left: 50px;
 flex-grow:1;
}

.plant-show-container-right{
  text-align: left;
  right: 550px;
  top: 250px;
  flex-grow:1
}

.plant-show-pic{
  border: 5px ridge brown;
  height: 393px;
  width: 324 px;
}

.plant-show-container button {
  background-color: brown;
  color: white;
  border: maroon solid 2px;
  border-radius: 25px;
  transition: all .2s ease-in-out;
}

.plant-show-container button:hover{
  transform: scale(1.1)
}

#review-submit {
  background-color: brown;
  color: white;
  border: maroon solid 2px;
  border-radius: 25px;
  transition: all .2s ease-in-out;
}

#review-submit:hover{
  transform: scale(1.1)
}


#cart-box{
  border: 5px ridge brown;
  background-color: white;
  position:absolute;
  top:70px;
  right: 25px;
  overflow: scroll;
  height: auto;
  max-height: 30em;
  display: none;
  /* justify-content: left */
}

.cart-container{
  text-align: left
}
#search-input{
  border: 2px ridge brown
}

.plant-price{
  font-size: 10;
  font-style: initial
}

.sort-menus{
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

a h3:hover {
 cursor: pointer;
 color: maroon;

}

a, a:active, a:visited {
  color: brown;
}

.plant-card button {
  background-color: brown;
  color: white;
  border: maroon solid 2px;
  border-radius: 25px;
  transition: all .2s ease-in-out;
}

.plant-card button:hover {
  transform: scale(1.1);
}


#cart-btn{
  position:absolute;
  top:70px;
  right: 50px;
  background-color: blanchedalmond
}

#logout{
  position:absolute;
  top:70px;
  left: 50px;
  height: 50px;
  background-color: blanchedalmond;
}

#users-cart-plants{
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 85%
}



#total-checkout{
  padding: 5px;
  display: inline-block
}

#total-checkout button{
  border-radius: 25px;
  border: 2px solid maroon;
  background-color: brown;
  color: white;
  transition: all .2s ease-in-out;
}

#total-checkout button:hover{
  transform: scale(1.1)
}

#checkout{
  padding: 3px;
  border: ridge black;
  height: auto;
  width: max-content;
  color: black;
  font-size: 85%;
  align-content:right
}

#total{

  padding:3px;
  
}
#remove-cart-plant{
  padding: 3px;
  transition: all .2s ease-in-out;
}

#remove-cart-plant:hover{
  transform: scale(1.1)
}

#add-cart-plant{
  padding: 3px;
  transition: all .2s ease-in-out;
}

#add-cart-plant:hover{
  transform: scale(1.1)
}

.show-page{
  display: flex;
}
.review-form {
  padding: 3px;
  width: 450px;
}

.review {
  display: flex;
  flex-direction: row;
}

#review{
  align-items: left;
}

#review-heading{
  text-align: left;
}

#review-body{
  text-align: left;
}

.review-container{
  max-height: 300px;
  width: 420px;
  overflow-y: auto;
  padding: 10px;
}
.show-reviews{
  display: flex;
  flex-direction: column;
}
#remove-review{
  border: 1px solid black;
  padding: 0px 3px 0px 3px;
  margin-right: 3px;
  margin-top: 3px;
  height: 15px;
  width: 15px;
}


.plant-show-container {
  display: flex;
  flex-grow:2
}